<div class="container">

  <div class="search-box">
      <input type="search" id="search" placeholder="Pesquise Aqui" />
      <span class="icon">
        <i class="fa fa-search"></i>
        <!--<i class="fal fa-search"></i>-->
      </span>     
  </div>

  <nav>
    <ul routerLinkActive="active">
      <li routerLink="gestao">      <span><img class="icon" src="/assets/icons/globe.png"></span><span>Painel de Gestão</span><i class="fas fa-caret-left"></i></li>
      <li routerLink="contadigital"><span><img class="icon" src="/assets/icons/at.png">   </span><span>Conta Digital</span></li>
      <li routerLink="recebiveis">  <span><img class="icon" src="/assets/icons/circle.png"></span><span>Ant. de Recebíveis</span><i class="fas fa-angle-double-right"></i></li>
    </ul>
  </nav>


</div>