<div class="content">

  <div class="logo">
    <img src="./assets/images/logo-srm.png">
  </div>

  <div class="right-menus">

    <div class="groups">
      Grupo Econônico:
    </div>

    <div class="aggreged-view">
      <span class="view-title">Visão Agregada</span>
      <i class="fas fa-angle-double-down"></i>
    </div>

    <div class="box-login">
        <div class="login">
          <i class="far fa-user"></i>
          <span class="user">Sandra Oliveira</span>
          <i class="fas fa-angle-double-down"></i>
        </div>
        <div class="bell">
          <i class="far fa-bell"></i>
          <span class="alert">3</span>
        </div>
    </div>
  </div>

</div>


